/*
Colors: https://www.color-hex.com/color-palette/1031202
#c8b4ee Purple
#fdbbeb Bink!
#c1f2f6 Bue
#ffffff White
#776ab2 Porple
*/

/* Need later: https://www.color-hex.com/color-palette/13735 */

body {
    font-family: "JetBrains Mono Medium", monospace;
    font-size: 17px;
    color: #ffffff;
    background: #c1f2f6;
}

header {
    line-height: 25px;
    white-space: nowrap;
}

#main-container {
    margin: 18px 90px 18px 90px;
    border: 8px solid white;
    border-radius: 5px;
    padding: 15px;
    background: #fdbbeb;
    overflow: clip;

}

header div h1 {
    font-size: 40px;
}

header h3 {
    font-size: 24px;
}

div#main-container .standard-container {
    width: 90%;
    margin: 15px auto 15px auto;
    border: 10px solid #c8b4ee;
    border-radius: 5px;
    padding: 15px 15px 0 15px;
    background-color: #776ab2;
    overflow: clip;
}

div#main-container header.standard-container {
    padding-top: 0;
    padding-bottom: 0;
    overflow: clip;
}

div.underline-title {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.standard-container h3 {
    line-height: 0;
}

header.standard-container div.trapezoid {
    position: relative;
    width: 100%;
    border-Top: 150px solid white;
    border-left: 180px solid transparent;
    left: 500px;
}

a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

ul h3 {
    margin-top: 35px;
}