/*
Colors: https://www.color-hex.com/color-palette/1031202
#c8b4ee Purple
#fdbbeb Bink!
#c1f2f6 Bue
#ffffff White
#776ab2 Porple
*/

/* Need later: https://www.color-hex.com/color-palette/13735 */

body {
    font-family: "JetBrains Mono Medium", monospace;
    font-size: 17px;
    color: #ffffff;
    background: #c1f2f6;
    white-space: nowrap;
}

header {
    line-height: 25px;
}

#main-container {
    margin: 1% 5% 1% 5%;
    border: 8px solid white;
    border-radius: 5px;
    padding: 1%;
    background: #fdbbeb;
    overflow: clip;
}

h1 {
    font-size: 40px;
}

header h3 {
    font-size: 24px;
}

div#main-container .standard-container {
    width: 90%;
    margin: 1% auto 1% auto;
    border: 10px solid #c8b4ee;
    border-radius: 5px;
    padding: 15px 15px 0 15px;
    background-color: #776ab2;
}

div#main-container header.standard-container {
    padding-bottom: 10px;
    overflow: clip;
}

div.underline-title {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.standard-container h3 {
    line-height: 0;
}

div.standard-container p {
    /*float: left;*/
}

div.rectangle {
    float: right;
    /*border: 2px solid black;*/
    /*margin: 0;*/
    width: 50%;
    height: 152px;
    background: white;
    position: relative;
    right: -15px;
    top: -15px;
}

header.standard-container div.trapezoid {
    float: right;
    position: relative;
    /*right: 0;*/
    width: 60%;
    /*border-bottom: 30px solid transparent;*/
    border-Top: 152px solid white;
    border-left: 180px solid transparent;
    top: -15px;
    right: -15px;
}