/*
Colors: https://www.color-hex.com/color-palette/1031202
#c8b4ee Purple
#fdbbeb Bink!
#c1f2f6 Bue
#ffffff White
#776ab2 Porple
*/

/* Need later: https://www.color-hex.com/color-palette/13735 */

body {
    font-family: "JetBrains Mono Medium", monospace;
    font-size: 17px;
    color: #ffffff;
    background: #c1f2f6;
}

header {
    line-height: 25px;
}

#main-container {
    margin: 1% 5% 1% 5%;
    border: 8px solid white;
    border-radius: 5px;
    padding: 1%;
    background: #fdbbeb;
}

h1 {
    font-size: 40px;
}

header h3 {
    font-size: 24px;
}

div#main-container .standard-container {
    width: 90%;
    margin: 1% auto 1% auto;
    border: 10px solid #c8b4ee;
    border-radius: 5px;
    padding: 15px;
    background-color: #776ab2;
}

div#main-container header.standard-container {

}

div.underline-title {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.standard-container h3 {
    line-height: 0;
}

/*.bi-container {*/
/*    overflow: auto;*/
/*    padding: 0;*/
/*}*/

/*.left {*/
/*    float: left;*/
/*}*/

/*.right {*/
/*    float: right;*/
/*}*/

/*div.bi-container div.standard-container {*/
/*    width: 540px;*/
/*}*/

/*div.bi-container div.standard-container.left {*/
/*    margin-left: 350px;*/
/*}*/

/*div.bi-container div.standard-container.right {*/
/*    margin-right: 350px;*/
/*}*/